node_modules
.next
out
.git
.firebase
functions/node_modules
functions/lib
logs_*
screenshots
*.log
.env
.env.local
ovh.env
*-firebase-adminsdk-*.json
docs
deploy
.hallmark
coverage
tsconfig.tsbuildinfo
